 .carousel-size{
  min-height: 1000px;
 }
 
 
 /* Change track color (WebKit browsers: Chrome, Safari, etc.) */
 input[type="range"]::-webkit-slider-runnable-track {
  background-color: #E7E5DF; /* Track color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  height: 12px;
  border-radius: 10px;
  transition: background-color 0.3s, border-color 0.6s;
}

/* Change thumb color (WebKit browsers) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 90px;
  height: 20px;
  background-color: #E7E5DF; /* Thumb color */
  border: 3px solid #b51e1e10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  transition: background-color 0.1s, border-color 0.2s;
  cursor:e-resize;
}

input[type="range"]::-webkit-slider-thumb:active {
  height: 22px;
  background-color: #FF7F11; /* New color when active */
  border-color: #ff3d116e; /* Border color when active */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.447);
}



.slider-container {
  max-width: 600px;
  margin: 50px auto;
  
}

.range-slider {
  width: 100%;
}

.thumb_nl_cnt{
  align-items: center;
  justify-content: center;
  text-align: center;

}

.thumb_nl{
    margin-bottom: 1em;
}

.titles{
    height: 6em;
}

.PageName {
    position: fixed;
    top: 0.4em; /* Adjust as needed */
    z-index: 1000; /* Ensures the button is above other content */
    text-shadow: 0px 1px 100px rgba(0, 0, 0, 100); /* Shadow effect */
  }
  
  .fixed-button {
    position: fixed;
    top: 0.1em; /* Adjust as needed */
    right: 1em; /* Adjust as needed */
    z-index: 1000; /* Ensures the button is above other content */
  }

