<html>
<head>
<meta charset="utf-8" />
<title>
  ArcGIS Developer Guide: Maps, scenes, and layers: Introduction
</title>
<link rel="stylesheet" href="https://js.arcgis.com/4.29/esri/themes/light/main.css">
<script src="https://js.arcgis.com/4.29"></script>
<link href="../css/map.css" type="text/css" rel="stylesheet"/>

<script>
    const apiKey = "<%= apiKey %>";
</script>

<script type="text/javascript" src="./src/map-listeners.js"></script>
</head>
<body>