<div class="tt container">
    <button class="btn  fixed-button border col-1 mt-5 p-10 w-10 offset-10" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
      =
  </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">MENU</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="offcanvas-Box  call-action-btn rounded-buttons text-lg-end">
            <a href="/" class="btn primary-btn rounded-full">
            HOME
            </a>
         </div>

         <div class="offcanvas-Box call-action-btn rounded-buttons text-lg-end">
          <a href="/environment" class="btn primary-btn rounded-full">
          1ST ENVIRONMENT
          </a>
       </div>

       <div class="offcanvas-Box call-action-btn rounded-buttons text-lg-end">
        <a href="/environment" class="btn primary-btn rounded-full">
        2ND ENVIRONMENT
        </a>
     </div>

     <div class="offcanvas-Box call-action-btn rounded-buttons text-lg-end">
      <a href="/environment" class="btn primary-btn rounded-full">
      3RD ENVIRONMENT
      </a>
   </div>

          
        </div>
    </div>


    <h7 class="PageName col-1 mt-5 p-10 w-50 ">Berkeley's Dilemma</h7>
</div>