<div class="tt container">
    <button class="btn  fixed-button border col-1 mt-5 p-10 w-10 offset-10" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
      =
  </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
        <div class="row">
            <div class="offcanvas-header col-11">
                <div class="offcanvas-Box  call-action-btn rounded-buttons text-lg-end" id="offcanvasWithBackdropLabel">
                    <a href="/" class="btn primary-btn rounded-full mt-3">
                    <h3>ACCOUNT</h3>
                    </a>
                </div>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
        </div>

        <div class="offcanvas-body">
            <div class="offcanvas-Box  call-action-btn rounded-buttons text-lg-end">
                <a href="/index" class="btn primary-btn rounded-full">
                HOME
                </a>
            </div>

            <div class="offcanvas-Box call-action-btn rounded-buttons text-lg-end">
                <a href="/environment" class="btn primary-btn rounded-full">
                1ST ENVIRONMENT
                </a>
            </div>   

            <div class="offcanvas-Box call-action-btn rounded-buttons text-lg-end">
                <a href="/environment" class="btn primary-btn rounded-full">
                2ND ENVIRONMENT
                </a>
            </div>

            <div class="offcanvas-Box call-action-btn rounded-buttons text-lg-end">
                <a href="/environment" class="btn primary-btn rounded-full">
                3RD ENVIRONMENT
                </a>
            </div>

            <div class="offcanvas-Box call-action-btn rounded-buttons text-lg-end">
                <a href="/map" class="btn primary-btn rounded-full">
                    HURRICANE MAP
                </a>
            </div>
        </div>
    </div>


    <h7 class="PageName col-1 mt-5 p-10 w-50 ">Berkeley's Dilemma</h7>
</div>