<%- include("./partials/header") -%>

<body class="bg-dark bg-gradient text-white">


  <div class="fondo">

  <div class="tt container">
    <button class="btn  fixed-button border col-1 mt-5 p-10 w-10 offset-10" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
      =
  </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">MENU</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="offcanvas-Box  call-action-btn rounded-buttons text-lg-end">
            <a href="index.html" class="btn primary-btn rounded-full">
            HOME
            </a>
         </div>

         <div class="offcanvas-Box call-action-btn rounded-buttons text-lg-end">
          <a href="environment1.html" class="btn primary-btn rounded-full">
          1ST ENVIRONMENT
          </a>
       </div>

       <div class="offcanvas-Box call-action-btn rounded-buttons text-lg-end">
        <a href="environment1.html" class="btn primary-btn rounded-full">
        2ND ENVIRONMENT
        </a>
     </div>

     <div class="offcanvas-Box call-action-btn rounded-buttons text-lg-end">
      <a href="environment1.html" class="btn primary-btn rounded-full">
      3RD ENVIRONMENT
      </a>
   </div>

          
        </div>
    </div>


    <h7 class="PageName col-1 mt-5 p-10 w-50 ">Berkeley's Dilemma</h7>
</div>


    <div class="titles">
    </div>

  <div class="container">

    <!-- Carousel -->
    <div id="photoCarousel" class="container-fluid carousel slide" data-bs-ride="carousel">
      <div class="top-slide col-8 offset-2">

        
  <div class="slider-container w-100">
    <label for="customRange" class="form-label"><h3>Timeline</h3></label>
    <form action="">
    <input type="range" class="slide-bar form-range range-slider" min="0" max="100" value="0" id="customRange">
    </form>
  </div>
</div>

      <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active col-12">
          <img src="https://via.placeholder.com/1920x1080?text=Foto+1" class="d-block w-100 h-100" alt="Foto 1">
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item">
          <img src="https://via.placeholder.com/1920x1080?text=Foto+2" class="d-block w-100 h-100" alt="Foto 2">
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item">
          <img src="https://via.placeholder.com/1920x1080?text=Foto+3" class="d-block w-100 h-100" alt="Foto 3">
        </div>
        <!-- Slide 4 -->
        <div class="carousel-item">
          <img src="https://via.placeholder.com/1920x1080?text=Foto+4" class="d-block w-100 h-100" alt="Foto 4">
        </div>

        <!-- Slide 5 -->
        <div class="carousel-item">
          <img src="https://via.placeholder.com/1920x1080?text=Foto+5" class="d-block w-100 h-100" alt="Foto 5">
        </div>

        <!-- Slide 6 -->
        <div class="carousel-item">
          <img src="https://via.placeholder.com/1920x1080?text=Foto+6" class="d-block w-100 h-100" alt="Foto 6">
        </div>

        <!-- Slide 7 -->
        <div class="carousel-item">
          <img src="https://via.placeholder.com/1920x1080?text=Foto+7" class="d-block w-100 h-100" alt="Foto 7">
        </div>

        <!-- Slide 8 -->
        <div class="carousel-item">
          <img src="https://via.placeholder.com/1920x1080?text=Foto+8" class="d-block w-100 h-100" alt="Foto 8">
        </div>

        <!-- Slide 9 -->
        <div class="carousel-item">
          <img src="https://via.placeholder.com/1920x1080?text=Foto+9" class="d-block w-100 h-100" alt="Foto 9">
        </div>

        <!-- Slide 10 -->
        <div class="carousel-item">
          <img src="https://via.placeholder.com/1920x1080?text=Foto+10" class="d-block w-100 h-100" alt="Foto 10">
        </div>


      </div>
      <!-- Controles del Carousel -->
      <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Thumbnails debajo del carousel -->
  <div class="thumb-nails col-12 contain-fluid">
    <!-- Thumbnail 1 -->
    <div class="row thumb_nl_cnt text-center mt-4">
      <div class="photo-1 thumb_nl contain-fluid col-lg-3 col-6">
        <img src="https://via.placeholder.com/400x300?text=Foto+1" class="img-fluid" alt="Thumbnail 1">
        <div class="overlay-1">My name is Yoshikage Kira. Im 33 years old. My house is in the northeast section of Morioh, where all the villas are, and I am not married. I work as an employee for the Kame Yu department stores, and I get home every day by 8 PM at the latest.</div>
      </div>

      <!-- Thumbnail 2 -->
  <div class="photo-1 thumb_nl contain-fluid col-lg-3 col-6">
    <img src="https://via.placeholder.com/400x300?text=Foto+2" class="img-fluid" alt="Thumbnail 2">
    <div class="overlay-1">My name is Yoshikage Kira. Im 33 years old. My house is in the northeast section of Morioh, where all the villas are, and I am not married. I work as an employee for the Kame Yu department stores, and I get home every day by 8 PM at the latest.</div>
  </div>

  <!-- Thumbnail 3 -->
  <div class="photo-1 thumb_nl contain-fluid col-lg-3 col-6">
    <img src="https://via.placeholder.com/400x300?text=Foto+3" class="img-fluid" alt="Thumbnail 3">
    <div class="overlay-1">My name is Yoshikage Kira. Im 33 years old. My house is in the northeast section of Morioh, where all the villas are, and I am not married. I work as an employee for the Kame Yu department stores, and I get home every day by 8 PM at the latest.</div>
  </div>

  <!-- Thumbnail 4 -->
  <div class="photo-1 thumb_nl contain-fluid col-lg-3 col-6">
    <img src="https://via.placeholder.com/400x300?text=Foto+4" class="img-fluid" alt="Thumbnail 4">
    <div class="overlay-1">My name is Yoshikage Kira. Im 33 years old. My house is in the northeast section of Morioh, where all the villas are, and I am not married. I work as an employee for the Kame Yu department stores, and I get home every day by 8 PM at the latest.</div>
  </div>

  <!-- Thumbnail 5 -->
  <div class="photo-1 thumb_nl contain-fluid col-lg-3 col-6">
    <img src="https://via.placeholder.com/400x300?text=Foto+5" class="img-fluid" alt="Thumbnail 5">
    <div class="overlay-1">My name is Yoshikage Kira. Im 33 years old. My house is in the northeast section of Morioh, where all the villas are, and I am not married. I work as an employee for the Kame Yu department stores, and I get home every day by 8 PM at the latest.</div>
  </div>

  <!-- Thumbnail 6 -->
  <div class="photo-1 thumb_nl contain-fluid col-lg-3 col-6">
    <img src="https://via.placeholder.com/400x300?text=Foto+6" class="img-fluid" alt="Thumbnail 6">
    <div class="overlay-1">My name is Yoshikage Kira. Im 33 years old. My house is in the northeast section of Morioh, where all the villas are, and I am not married. I work as an employee for the Kame Yu department stores, and I get home every day by 8 PM at the latest.</div>
  </div>

  <!-- Thumbnail 7 -->
  <div class="photo-1 thumb_nl contain-fluid col-lg-3 col-6">
    <img src="https://via.placeholder.com/400x300?text=Foto+7" class="img-fluid" alt="Thumbnail 7">
    <div class="overlay-1">My name is Yoshikage Kira. Im 33 years old. My house is in the northeast section of Morioh, where all the villas are, and I am not married. I work as an employee for the Kame Yu department stores, and I get home every day by 8 PM at the latest.</div>
  </div>

  <!-- Thumbnail 8 -->
  <div class="photo-1 thumb_nl contain-fluid col-lg-3 col-6">
    <img src="https://via.placeholder.com/400x300?text=Foto+8" class="img-fluid" alt="Thumbnail 8">
    <div class="overlay-1">My name is Yoshikage Kira. Im 33 years old. My house is in the northeast section of Morioh, where all the villas are, and I am not married. I work as an employee for the Kame Yu department stores, and I get home every day by 8 PM at the latest.</div>
  </div>

  <!-- Thumbnail 9 -->
  <div class="photo-1 thumb_nl contain-fluid col-lg-3 col-6">
    <img src="https://via.placeholder.com/400x300?text=Foto+9" class="img-fluid" alt="Thumbnail 9">
    <div class="overlay-1">My name is Yoshikage Kira. Im 33 years old. My house is in the northeast section of Morioh, where all the villas are, and I am not married. I work as an employee for the Kame Yu department stores, and I get home every day by 8 PM at the latest.</div>
  </div>

  <!-- Thumbnail 10 -->
  <div class="photo-1 thumb_nl contain-fluid col-lg-3 col-6">
    <img src="https://via.placeholder.com/400x300?text=Foto+10" class="img-fluid" alt="Thumbnail 10">
    <div class="overlay-1">My name is Yoshikage Kira. Im 33 years old. My house is in the northeast section of Morioh, where all the villas are, and I am not married. I work as an employee for the Kame Yu department stores, and I get home every day by 8 PM at the latest.</div>
  </div>
</div>
    </div>
  </div>

  <div class="titles">
            
  </div>

  <hr/>

 <div class="mb-5 offset-1">
  <p class="term-conditions">
    <br>
    <br>
    <em><strong>Terms & Conditions</strong></em>
    <br>
    <br>
    You agree to indemnify, defend, and hold harmless Berkeleys Dilemma, its affiliates, and their respective officers, directors, employees, and agents from and against any claims, liabilities, damages, losses, and expenses arising from your use of the Site or violation of these Terms.
    <br>
    <br>
    If you have any questions about these Terms, please contact us at:
    <br>
    <br>
    <i>
    Berkeley's Dilemma
    <br>
    221 B - Paradise City
    <br>
    Killing_In_The_Name@gmail.com
    <br>
    01800-4444-9999
    </i>
  </p>
</div>

<div class="titles">
  <br>
</div>


</div>


<%- include("./partials/footer") -%>
