<%- include("./partials/header") -%>

<body class="bg-dark bg-gradient text-white">
<div class="fondo">

  <%- include("./partials/nav") -%>
  
        <div class="container-fluid background-image-div full-width-div">

            <div class="row">
                <div class="col-12 ">
                    <h1 id="MainTitle" class="title align-items-center justify-content-center">
                        IF A TREE FALLS
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="subtitle align-items-center justify-content-center">
                    WOULD YOU HEAR IT DIE?
                </h3>
                </div>
            </div>
        </div>

<!--====== CALL TO ACTION ONE PART START ======-->
<section class="call-action">
    <hr/>
       <div class="row align-items-center  offset-1">
          <div class="col-xl-9 col-lg-9  vol">
             <div class="call-action-text">
                <h3 class="mb-4">
                   Face your sins
                </h3>
                <p class="m-3 mb-5">
                   If you make the effort to kill the world; why don't you watch it suffer? After all, it sure seems like you enjoy doing it.
                </p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4">
             <div class="call-action-btn rounded-buttons text-lg-end">
              <button class="start-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
                Get Started Now!
                </button>
             </div>
          </div>
       </div>
       <!-- row -->

    <!-- container -->
 </section>
 <hr>
 <section class="call-action-area call-action-one">
  <h3 style="margin-left: 20px;">The problem</h3>
    <div style="margin-left: 20px;" class="text-card row align-items-center call-action-content">
        <div class="offset-11em">
        <p style="margin: 1em; color: black;">We’re looking forward to help solve the 15º UN goal “Life on Land”, that is, to take care of the land ecosystems and the life within. In order to do this we have to help people become aware of the damage and destruction that these habitats are suffering: they must believe in that which they don’t see.</p>
        </div>
    </div>
 </section>
 <hr>
 <!--====== CALL TO ACTION ONE PART ENDS ======-->

 <section>
    <div class="col-xl-8 col-lg-8 col-xs-10 col-m-10 vol">
        <h3 style="margin-left: 20px;">Who to blame</h3>
        <div>
            <div class="row" style="margin: 10px; width: 80%;">
              <div class="col-xl-9 col-lg-9 col-m-12 col-s-12 col-12">
                <div class="back-card">
                  <h3 class="us-name">Pato</h3>
                  <div class="d-flex">
                  <img class="us-images" src="./img/Yo.jpg" alt="Pato">
                  <p class="us-text mt-3">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
                </div>
                </div>
              </div>
                <div class="col-xl-9 col-lg-9 col-m-12 col-s-12 col-12">
                  <div class="back-card">
                    <h3 class="us-name">Rodrigo</h3>
                    <div class="d-flex">
                    <img class="us-images" src="./img/Rodrigo.jpg" alt="Rodrigo">
                    <p class="us-text mt-3">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
                  </div>
                  </div>
                </div>
                  <div class="col-xl-9 col-lg-9 col-m-12 col-s-12 col-12">
                    <div class="back-card">
                      <h3 class="us-name">Erasmo</h3>
                      <div class="d-flex">
                      <img class="us-images" src="./img/Erasmo.jpg" alt="Erasmo">
                      <p class="us-text mt-3">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
                    </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
 </section>
 <hr>
 <section class="col-11">
  <h3 style="margin-left: 3%;">Vision</h3>
    <div class="vision-div d-flex">
      <div style="margin-left: 1%;" class="text-card2 row align-items-center call-action-content">
        <div>
          <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. </p>
        </div>
      </div>
      <img class="imagen-mundo col-3" src="./img/Mundo sano.jpeg" alt="mundo sano">
      </div>
 </section>

 <hr>
 <section  class="col-11">
  <h3 class="subtitleM">Mision</h3>
    <div class="vision-div d-flex">
      <img class="imagen-mundo col-3" src="./img/Mundo sano.jpeg" alt="mundo sano">
      <div style="margin-left: 0.53%;" class="text-card2 row align-items-center call-action-content">
        <div>
          <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p>
        </div>
      </div>
    </div>
 </section>

 <hr/>

 <div class="mb-5 offset-1">
  <p class="term-conditions">
    <br>
    <br>
    <em><strong>Terms & Conditions</strong></em>
    <br>
    <br>
    You agree to indemnify, defend, and hold harmless Berkeleys Dilemma, its affiliates, and their respective officers, directors, employees, and agents from and against any claims, liabilities, damages, losses, and expenses arising from your use of the Site or violation of these Terms.
    <br>
    <br>
    If you have any questions about these Terms, please contact us at:
    <br>
    <br>
    <i>
    Berkeley's Dilemma
    <br>
    221 B - Paradise City
    <br>
    Killing_In_The_Name@gmail.com
    <br>
    01800-4444-9999
  </i>
  </p>
</div>
<div class="titles">
  <br>
</div>

 </div>

 <%- include("./partials/footer") -%>