<%- include("./partials/header") -%>

<div class="fondo">

  <%- include("./partials/nav") -%>

  <div class="container-fluid background-image-div">
    <div class="overlay">
        <h1 id="MainTitle" class="title col-12">IF A TREE FALLS</h1>
        <h3 class="subtitle col-12">WOULD YOU HEAR IT DIE?</h3>
    </div>
</div>


        
<div class="container my-5 d-flex justify-content-center">
  <div class="row justify-content-center"> 
      <div class="col-12 col-md-12 col-lg-4 mx-2 my-5">
          <h3 class="text-end mx-5">Face your sins</h3>
          <div class="text-card2 p-5">
              <div class="row align-items-center">
                  <div class="col-12 col-md-8 mb-3 mb-md-0">
                      <p>If you make the effort to kill the world; why don't you watch it suffer? After all, it sure seems like you enjoy doing it.</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-end text-right">
                      <button class="start-btn col-10" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
                          Start!
                      </button>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4 mx-2 my-5"> 
          <h3 class="text-start mx-4">The Problem</h3>
          <div class="text-card2 p-4">
              <p>We’re looking forward to help solve the 15º UN goal “Life on Land”, that is, to take care of the land ecosystems and the life within. In order to do this we have to help people become aware of the damage and destruction that these habitats are suffering: they must believe in that which they don’t see.</p>
          </div>
      </div>
  </div>
</div>
      



 <hr>
 

 <section class="container my-5">
  <h3 class="text-center">Who to Blame</h3>
  <div class="row align-items-center mb-4 mt-5">
      <div class="col-md-4 text-center">
          <div class="text-card2 p-3">
              <h5>Pato</h5>
              <img src="./img/Yo.jpg" class="img-fluid rounded mb-3" alt="Pato">
              <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
          </div>
      </div>
      <div class="col-md-4 text-center">
          <div class="text-card2 p-3">
              <h5>Rodrigo</h5>
              <img src="./img/Rodrigo.jpg" class="img-fluid rounded mb-3" alt="Rodrigo">
              <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
          </div>
      </div>
      <div class="col-md-4 text-center">
          <div class="text-card2 p-3">
              <h5>Erasmo</h5>
              <img src="./img/Erasmo.jpg" class="img-fluid rounded mb-3" alt="Erasmo">
              <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
          </div>
      </div>
  </div>
</section>

 <hr>
 <!-- HTML Estructura Mejorada -->
 <div class="container my-5">
  <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-5 mx-5">
          <h3 class="text-start mx-3">Vision</h3>
          <div class="text-card2 p-4">
              <div class="row align-items-center">
                  <div class="col-12 col-md-8 mb-3 mb-md-0">
                      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias...</p>
                  </div>
                  <div class="col-12 col-md-4 text-center">
                      <img src="./img/Mundo sano.jpeg" class="img-fluid rounded" alt="mundo sano">
                  </div>
              </div>
          </div>
      </div>

      <div class="col-12 col-md-12 col-lg-5 mx-5">
          <h3 class="text-end mx-5">Misión</h3>
          <div class="text-card2 p-4">
              <div class="row align-items-center flex-md-row-reverse">
                  <div class="col-12 col-md-8 mb-3 mb-md-0">
                      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias...</p>
                  </div>
                  <div class="col-12 col-md-4 text-center">
                      <img src="./img/Mundo sano.jpeg" class="img-fluid rounded" alt="mundo sano">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



 <hr/>

  <section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h4>Terms & Conditions</h4>
            <p>You agree to indemnify, defend, and hold harmless Berkeley's Dilemma, its affiliates, and their respective officers, directors, employees, and agents from and against any claims, liabilities, damages, losses, and expenses arising from your use of the Site or violation of these Terms.</p>
            <p class="mt-5">If you have any questions about these Terms, please contact us at:</p>
            <address>
                Berkeley's Dilemma                                      |  
                <strong><i>221 B - Paradise City</i></strong>           |  
                berkeleysdilemma@gmail.com                              | 
              <strong><i>01800-4444-9999</i></strong>
            </address>
        </div>
    </div>
  </section>
</div>

 <%- include("./partials/footer") -%>