body{
    background-color: #393e41 !important;
}

.in-title{
    color: #E7E5DF;
    font-size: 55px;
}


.login-container {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    background-color: #E7E5DF !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.form-group input{
    background-color: #fffefb;
    color: rgb(57, 62, 65);
    transition: 0.1s ease-in-out;
}

.form-group input[type=text]:focus {
    border: 3px solid #FF7F11;
}

.form-group input[type=password]:focus {
    border: 3px solid #FF7F11;
}

.log-btn{
    margin-top: 12%;
    background-color: #265a40 !important;
    color: #E7E5DF;
    border: none;
    border-radius: 8px;
    height: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.log-btn:hover{
    scale: 1.03;
    background-color: #FF7F11 !important;
    color: #fffefb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}